<!DOCTYPE html>
<html>
<head>
    <title>Profil of {{ user.username }}</title>
</head>
<body>
    <div>
        <p><strong>Name User :</strong> {{ user.username }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>

        {% if user.profilePicture %}
            <p><strong>Profil picture :</strong></p>
            <img src="{{ asset('uploads/' ~ user.profilePicture) }}" alt="Photo de profil" width="150">
        {% else %}
            <p>Not Picture</p>
        {% endif %}

        <p><strong>Creation date :</strong> {{ user.createdAt|date('d/m/Y H:i') }}</p>

        <a href="{{ path('home_index') }}">Back to Home</a>

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>
