{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}
<style>
    .hidden-field {
        display: none;
    }
</style>
<div class="example-wrapper">

    Add people to the group :
    {{group.name}}
    {{form_start(form)}}
        <div class="hidden-field">
            {{ form_row(form.name) }} {# Champ caché mais toujours envoyé #}
        </div>
        {{form_row(form.emails)}}
        {{form_row(form.save)}}

    {{ form_end(form) }}

    {% for user in groupUser %}
        <p>
            <b> Username :</b> {{user.username}}<br>
        </p>
    {% endfor %}
</div>
{% endblock %}
